:root {
  --main-accent-color: #162be3;
}

.App {
  text-align: center;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-text {
  padding-bottom: 0.5em;
}

.dev-name {
  color: var(--main-accent-color);
}

.action-button {
  border: 3px solid var(--main-accent-color);
  padding: 0.5em;
  color: var(--main-accent-color);
  font-weight: bold;
  text-decoration: none;
}

.action-button:visited {
  border: 3px solid var(--main-accent-color);
  padding: 0.7em;
  color: var(--main-accent-color);
  text-decoration: none;
}

.about-background {
  /* background: rgb(198,195,233); */
  background: linear-gradient(114deg, rgba(198,195,233,1) 0%, rgba(97,218,251,1) 46%, rgba(45,199,231,1) 94%); 
  color: white;
}

.profile-picture {
  max-width: 20em;
  max-height: 20em;
}

.about-text {
  padding: 1em;
}
