:root {
  --main-accent-color: #162be3;
}

.App {
  text-align: center;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-text {
  padding-bottom: 0.5em;
}

.dev-name {
  color: var(--main-accent-color);
}

.action-button {
  border: 3px solid black;
  padding: 0.5em;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.action-button:visited {
  border: 3px solid black;
  padding: 0.7em;
  color: black;
  text-decoration: none;
}

.main-action-button {
  border: 3px solid var(--main-accent-color);
  color: var(--main-accent-color);
  margin-right: 1em;
}

.main-action-button:visited {
  border: 3px solid var(--main-accent-color);
  color: var(--main-accent-color);
  margin-right: 1em;
}

.button-row {
  display: flex;
  justify-content: center;
}