.App {
  text-align: center;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-text {
  padding-bottom: 0.5em;
}

.dev-name {
  color: #61dafb;
}

.action-button {
  border: 3px solid #61dafb;
  padding: 0.5em;
  color: #61dafb;
  font-weight: bold;
  text-decoration: none;
}

.action-button:visited {
  border: 3px solid #61dafb;
  padding: 0.7em;
  color: #61dafb;
  text-decoration: none;
}